@font-face {
  src: url("../fonts/LeelawUI.ttf") format("ttf");
  font-family: "Leelawadee UI";
}

html {
  font-family: "Leelawadee UI" !important;
}

html, body {
  height: 100%;
  color: white;
  overflow-x: hidden;
}

nav {
  line-height: initial;
}

nav ul li a:hover {
  background-color: transparent;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: #0570C2;
}

div.fullscreen {
  height: 100%;
  background-size: cover;
  background-position: center center;
}

#homeIntro {
  background-image: url("../images/background-intro.jpg");
  padding-top: 64px;
  position: relative;
}

#navBar {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#navBar #mobile-menu {
  position: absolute;
  top: 10px;
  left: 10px;
}

#navBar #mobile-menu i {
  line-height: 56px;
}

#navBar .nav-wrapper {
  margin-top: 20px;
}

#navBar a {
  font-family: "Leelawadee UI" !important;
}

#navBar .brand-logo {
  font-size: 26px;
  text-transform: uppercase;
}

#navBar .brand-logo span {
  color: #0570C2;
}

#navBar .brand-logo:hover {
  color: white;
}

#navBar #nav-mobile li a {
  font-size: 18px;
}

#navBar #nav-mobile li a:hover {
  color: #0570C2;
}

#introHeadingText {
  margin-top: 100px;
}

#introHeadingText h1 {
  font-size: 48px;
  font-weight: normal;
}

#introHeadingText p {
  margin-top: 24px;
  font-size: 26px;
}

#sliderSection {
  background: url("../images/solar-system/1.jpg") center center/cover;
  -webkit-transition: 2s;
  transition: 2s;
}

#sliderSection #solarSystemSliderText {
  height: 95%;
}

#sliderSection .solar-slider-nav {
  height: 100%;
  position: absolute;
  padding: 0px 25px;
}

#sliderSection .solar-slider-nav-arrow {
  font-size: 36px;
}

#sliderSection #solar-slider-nav-left {
  top: 0px;
  left: 0px;
}

#sliderSection #solar-slider-nav-left:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
}

#sliderSection #solar-slider-nav-right {
  top: 0px;
  right: 0px;
}

#sliderSection #solar-slider-nav-right:hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
}

#sliderSection #planetName {
  font-size: 42px;
  display: none;
}

#sliderSection #sliderTextWrapper {
  padding-top: 3%;
}

#sliderSection .slider-text p {
  font-size: 3vh;
  margin-bottom: 35px;
  display: none;
}

#sliderSection #sliderMobileText {
  display: none;
  padding: 0px 75px;
}

#sliderSection #sliderMobileText p {
  font-size: 24px;
}

#meteorSection {
  background-image: url("../images/background-meteor.jpg");
}

#meteorSection > p, #meteorSection > h2, #meteorSection > div {
  width: 50%;
}

#meteorSection > h2 {
  font-size: 5vh;
}

#meteorSection > p {
  font-size: 3vh;
}

#meteorSection #meteorTimerWrapper {
  font-size: 16px;
}

#meteorSection #meteorTimerWrapper > p {
  font-size: 2em;
}

#meteorSection #meteorTimerWrapper #meteorTimer p {
  font-size: 1em;
}

#meteorSection #meteorTimerWrapper #meteorTimer p span {
  font-size: 3em;
}

#supernovaSection {
  background-image: url("../images/background-supernova.jpg");
}

#supernovaSection p {
  font-size: 48px;
}

#supernovaSection img + div {
  display: none;
}

#newsSection {
  background-image: url("../images/background-news.jpg");
}

#newsSection > img:nth-child(1) {
  position: absolute;
  top: 10px;
  left: 10px;
}

#newsSection > div {
  padding-top: 50px;
}

#newsSection #newsText h2 {
  font-size: 42px;
  font-size: 5vh;
}

#newsSection #newsText h3 {
  font-size: 36px;
  font-size: 4vh;
}

#newsSection #newsText p {
  font-size: 24px;
  font-size: 3vh;
}

#newsSection #newsText p:nth-child(3) {
  font-size: 36px;
  font-size: 4vh;
}

#newsSection #newsText p:nth-child(4) {
  font-size: 42px;
  font-size: 5vh;
}

#newsSection #newsText p:nth-child(6) a {
  color: #9a7fcd;
}

#newsSection #newsText p:nth-child(6) a:hover {
  color: #7e5bbe;
}

#newsSection #newsText .socials {
  margin: 0px 10px;
}

#newsSection #newsText .socials:nth-child(1) {
  color: #1DA1F2;
}

#newsSection #newsText .socials:nth-child(1):hover {
  color: #4db5f5;
}

#newsSection #newsText .socials:nth-child(2) {
  color: #d10085;
}

#newsSection #newsText .socials:nth-child(2):hover {
  color: #ff05a4;
}

#newsSection #newsText .socials:nth-child(3) {
  color: #FF0000;
}

#newsSection #newsText .socials:nth-child(3):hover {
  color: #ff3333;
}

#newsSection #newsText .socials:nth-child(4) {
  color: #6441a5;
}

#newsSection #newsText .socials:nth-child(4):hover {
  color: #7e5bbe;
}

#newsSection #newsText .twitter-timeline {
  width: 500px !important;
  height: 200px !important;
}

#footer {
  background-color: #000;
  position: relative;
}

#footer > img {
  position: absolute;
  top: -75px;
  right: -50px;
  width: 125px;
  z-index: 8;
}

#footer > div > div h4 {
  margin-bottom: 20px;
}

#footer > div > div ul li {
  margin-bottom: 5px;
}

#footer > div > div ul li a {
  font-size: 18px;
}

#footer > div > div:last-child p {
  font-size: 26px;
  line-height: 1.0;
}

#footer > div > div:last-child > div {
  position: relative;
}

#footer > div > div:last-child > div input {
  color: white;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
  padding-right: 50px;
}

#footer > div > div:last-child > div input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #0570C2;
}

#footer > div > div:last-child > div a {
  position: absolute;
  top: 10px;
  right: 15px;
}

#fixedButtonWrapper {
  display: none;
}

#fixedButtonWrapper #fixedButton {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0570C2;
  font-size: 36px;
}

#fixedButtonWrapper #fixedButton:hover {
  color: white;
  background-color: #068df4;
}

@media screen and (max-width: 1024px) {
  #sliderSection .slider-text p {
    font-size: 2.7vh;
  }
  #meteorSection > h2, #meteorSection > p, #meteorSection > div {
    width: 75%;
  }
}

@media screen and (max-width: 886px) {
  #introHeadingText h1 {
    font-size: 42px;
  }
  #introHeadingText p {
    font-size: 22px;
  }
  .slider-text {
    display: none;
  }
  #sliderSection #sliderMobileText {
    display: block;
  }
  #sliderSection #sliderMobileText p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  #meteorSection > h2, #meteorSection > p, #meteorSection > div {
    width: 100%;
  }
  #newsSection {
    height: auto;
  }
  #newsSection #twitterEmbed {
    height: 400px;
  }
}

@media screen and (max-width: 496px) {
  #meteorSection > h2 {
    margin-top: 0px !important;
    margin-bottom: 30px !important;
    font-size: 28px;
    text-align: center;
  }
  #meteorSection > p {
    font-size: 16px;
  }
  #meteorSection #meteorTimerWrapper {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  #introHeadingText h1 {
    font-size: 36px;
  }
  #introHeadingText p {
    font-size: 18px;
  }
  #sliderSection #sliderMobileText {
    padding: 0px 50px;
  }
  #sliderSection #sliderMobileText p {
    font-size: 16px;
  }
  #supernovaSection p {
    font-size: 36px;
  }
}

@media screen and (max-width: 375px) {
  #logo {
    margin-left: 20px;
  }
  #meteorSection {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  #meteorSection > h2 {
    font-size: 22px;
  }
  #meteorSection > p {
    font-size: 14px;
    margin-bottom: 10px !important;
  }
}

.shorterIntro {
  height: 400px;
  background-size: cover;
  background-position: center 100%;
  position: relative;
}

#newsIntro {
  background-image: url("../images/news-page-background.jpg");
}

.bolded-menu li a:hover {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.63), 1px -1px 0 rgba(0, 0, 0, 0.63), -1px 1px 0 rgba(0, 0, 0, 0.63), 1px 1px 0 rgba(0, 0, 0, 0.63);
}

.bolded-logo {
  text-shadow: -1px -1px 0 #313131, 1px -1px 0 #313131, -1px 1px 0 #313131, 1px 1px 0 #313131;
}

#newsPageMain {
  background-image: url("../images/star-pattern.jpg");
  background-repeat: repeat;
  background-color: black;
  position: relative;
}

#newsPageMain .mySelectWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#newsPageMain .mySelectWrapper p {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 5px;
  font-size: 20px;
}

#newsPageMain .mySelectWrapper input {
  color: white !important;
  margin-bottom: 0px;
  border-bottom: 2px solid #b9b9b9;
}

#newsPageMain .mySelectWrapper input:focus {
  border-bottom: 2px solid #0570C2;
}

#newsPageMain .mySelectWrapper span {
  color: #0570C2;
}

#newsPageMain .mySelectWrapper svg {
  fill: white;
}

#newsPageMain #paginationWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#newsPageMain #paginationWrapper .pagination {
  margin-bottom: 0px;
}

#newsPageMain #paginationWrapper .pagination li.active {
  background-color: #0570C2;
}

#newsPageMain #paginationWrapper .pagination li.active a {
  color: white;
}

#newsPageMain #paginationWrapper .pagination li.disabled a {
  color: #444;
}

#newsPageMain #paginationWrapper .pagination li a {
  color: #999;
}

#newsPageMain .newsListItem p {
  text-align: left;
  margin: 0px 0px;
  margin-bottom: 10px;
}

#newsPageMain .newsListItem img {
  width: 100%;
  border: 1px solid white;
  margin-bottom: 10px;
}

#newsPageMain .newsListItem h4 {
  text-align: center;
  font-size: 16px;
}

#newsPageMainSide ul {
  border: 1px solid #b7b7b7;
}

#newsPageMainSide .collection-item {
  border-bottom: 1px solid #b7b7b7;
  background-color: transparent;
  min-height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#newsPageMainSide .collection-item span {
  font-size: 16px;
}

.fixedNav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
}

#wallpapersIntro {
  background-image: url("../images/background-wallpapers.jpg");
}

#wallpapersPageBody {
  background-image: url("../images/star-pattern.jpg");
  background-repeat: repeat;
  min-height: 800px;
  padding-bottom: 75px;
}

#wallpapersPageBody img {
  width: 100%;
  border: 1px solid white;
}

.loading-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shining-star {
  -webkit-animation-name: shine;
          animation-name: shine;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.shining-star:hover {
  cursor: pointer;
}

@-webkit-keyframes shine {
  from {
    -webkit-filter: brightness(0.3);
            filter: brightness(0.3);
  }
  to {
    -webkit-filter: brightness(1.3);
            filter: brightness(1.3);
  }
}

@keyframes shine {
  from {
    -webkit-filter: brightness(0.3);
            filter: brightness(0.3);
  }
  to {
    -webkit-filter: brightness(1.3);
            filter: brightness(1.3);
  }
}

nav .nav-wrapper {
  position: static;
}

.drag-target {
  display: none;
}
/*# sourceMappingURL=style.css.map */